{% extends "base.html" %}
{% block title %}>Избранное{% endblock %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'pages/index.css'%}">
{% endblock %}


{% block header %}
  <h1 class="main__title">Избранное</h1>
  {% include 'recipe/includes/tags.html' with index=True %}
{% endblock %}


{% block content %}
  <div class="card-list">
    {% for recipe in page_obj %}
      {% include 'recipe/includes/recipe_card.html' %}
    {% endfor %}
  </div>
{% if page_obj.has_other_pages %}
  {% include 'includes/paginator.html' %}
{% endif %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'favorite.js' %}"></script>
{% endblock %}
