{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}
  <h1 class="main__title">Сброс пароля</h1>
{% endblock %}
{% block content %}
{% load recipe_filters %}
  <div class="form-container">
    <form method="post" class="form" >
      {% csrf_token %}
      <p class="form__info-text">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
      </p>
      {% for field in form %}
        <div class="form__group">
          <label for="id_email" class="form__label">{{ field.label }}</label>
          <div class="form__field-group">
            {{ field|addclass:"form__input" }}
            <span class="form__error">{{ field.errors }}</span>
          </div>
        </div>
      {% endfor %}
     <div class="form__footer">
       <button class="button button_style_blue">Сбросить пароль</button>
     </div>
    </form>
  </div>
{% endblock %}
